.multiselect {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: stretch;
  height: 300px;
  border: 1px solid #bbb;
  background-color: #fefefe;
}

.item-window {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  padding: .75rem;

  &.right {
    .select-item--buttons {
      display: none;
    }
  }
}

.item-window--items {
  flex: 1;

  &:after {
    content: '';
    display: block;
    height: calc(.75rem - 5px);
    width: 100%;
  }
}

.select-item {
  padding: 0;
  min-height: 40px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: .25s background-color ease-in-out;
  cursor: pointer;
  background-color: #f8f9fa;

  &:first-child {
    .select-item--buttons {
      [data-method="up"] {
        opacity: .35;
        pointer-events: none;
      }
    }
  }

  &:last-child {
    .select-item--buttons {
      [data-method="down"] {
        opacity: .35;
        pointer-events: none;
      }
    }
  }

  &:hover, &:focus, &:active {
    background-color: #ddd;
  }
}

.select-item--text {
  flex: 1;
  padding: 5px 10px;
  font-size: 12px;
}

.select-item--buttons {
  display: flex;
  padding: 5px 8px;

  > div {
    display: flex;
    align-items: center;
    justify-content: center;

    + div {
      margin-left: 5px;
    }

    span {
      background-size: 14px 14px;
      height: 14px;
      width: 14px;

      &.up {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 16 16'%3e%3cg fill='%23000'%3e%3cpath d='m8.407 4.57 4.028 5.64a.5.5 0 0 1-.407.791H3.972a.5.5 0 0 1-.407-.791l4.028-5.64a.5.5 0 0 1 .814 0z'/%3e%3c/g%3e%3c/svg%3e");
      }

      &.down {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 16 16'%3e%3cg fill='%23000'%3e%3cpath d='M7.593 11.43 3.565 5.79A.5.5 0 0 1 3.972 5h8.057a.5.5 0 0 1 .407.791l-4.028 5.64a.5.5 0 0 1-.815-.001z'/%3e%3c/g%3e%3c/svg%3e");
      }
    }
  }
}
